@model IEnumerable<Randevu_Sistemi_Kuafor.Models.Appointment>

@{
    ViewData["Title"] = "UserAppointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid mt-5">
    <h1 class="text-center mb-4">Randevularım</h1>

    <!-- Tabloyu genişletmek için tüm ekran genişliğini kaplatıyoruz -->
    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped mx-auto" style="width: 75%; max-width: 75%; table-layout: fixed;">
            <thead class="table-dark">
                <tr>
                    <th class="col-2">Tarih</th>
                    <th class="col-2">Ücret</th>
                    <th class="col-3">Çalışan</th>
                    <th class="col-3">İşlem</th>
                    <th class="col-2">Durum</th>
                    <th class="col-2">İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.AppointmentDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.Price) TL</td>
                        <td>@Html.DisplayFor(modelItem => item.Employee.User.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Service.ServiceName)</td>
                        <td>
                            @if (item.Status == AppointmentStatus.Pending)
                            {
                                <span class="badge bg-warning">Beklemede</span>
                            }
                            else if (item.Status == AppointmentStatus.Confirmed)
                            {
                                <span class="badge bg-success">Onaylı</span>
                            }
                            else if (item.Status == AppointmentStatus.Cancelled)
                            {
                                <span class="badge bg-danger">İptal Edildi</span>
                            }
                        </td>
                        <td>
                            @if (item.Status != AppointmentStatus.Cancelled)
                            {
                                <form method="post" asp-action="DeleteConfirmed" asp-route-id="@item.AppointmentId" onsubmit="return confirm('Randevuyu iptal etmek istediğinizden emin misiniz?');">
                                    <button type="submit" class="btn btn-danger btn-sm">İptal Et</button>
                                </form>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>



