@model List<Randevu_Sistemi_Kuafor.Models.EmployeeLeave>

<h1>Employee Leaves</h1>

<div>
    <a asp-action="Create" class="btn btn-success">Create New Leave</a>
</div>

<table>
    <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Reason</th>
        <th>Is Approved</th>
        <th>Actions</th>
    </tr>
    @foreach (var leave in Model)
    {
        <tr>
            <td>@leave.LeaveStartDate</td>
            <td>@leave.LeaveEndDate</td>
            <td>@leave.Reason</td>
            <td>@leave.IsApproved</td>
            <td>
                <a asp-action="Details" asp-route-id="@leave.LeaveId" class="btn btn-info">Details</a>
                <a asp-action="Edit" asp-route-id="@leave.LeaveId" class="btn btn-warning">Edit</a>
                <a asp-action="Delete" asp-route-id="@leave.LeaveId" class="btn btn-danger">Delete</a>
            </td>
        </tr>
    }
</table>